<h1>Student</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @student.name %></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><strong>Student ID:</strong> <%= @student.id %></li>
      <li><strong>Student Email:</strong> <%= @student.email %></li>
      <li><strong>Enrolled in these courses:</strong>
        <ul>
          <% @student.enrollments.each do |enrollment| %>
            <li><%= enrollment.course.try(:name) %>
          <% end %>
        </ul>
    </ul>
  </div>
</div>

<a href="/students/<%= @student.id %>/edit">Edit</a> |
<a href="/students/<%= @student.id %>/destroy">Destroy</a>
