<h1>Enrollments</h1>

<p><a href="/new_enrollment">Add a New Enrollment</a></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.course_id %> </td>
      <td><%= enrollment.student_id %> <%= enrollment.student.try(:name) %></td>
          <td><a href="/enrollments/<%= enrollment.id %>">&nbsp; Show&nbsp;</a> |
        </td>
      <td><a href="/enrollments/<%= enrollment.id %>/edit">&nbsp; Edit&nbsp;</a> |</td>
      <td><a href="/enrollments/<%= enrollment.id %>/destroy">&nbsp; Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

