<h1>New Enrollment</h1>

<form action="/create_enrollment">
  <div>
    <label for="course_id">Course</label><br />
     <select name="course_id">
       <% Course.all.each do |course| %>
       <option  value="<%= course.id %>"><%= course.id %> <%= course.name %></option>
      <% end %>
    </select>
  </div>
  
  <div>
    <label for="student_id">Student</label><br />
    <select name="student_id">
      <% Student.all.each do |student| %>
      <option value="<%= student.id %>"><%= student.id %> <%= student.name %></option>
      <% end %>
    </select>

  </div>
  <div>
    <input type="submit">
  </div>
</form>

