<h1>New Enrollment</h1>

<form action="/create_enrollment">
  <div>
    <label for="course_id">Course</label><br />
     <select name="course_id">
       <% @enrollments.each do |enrollment| %>
       <option  value="<%= enrollment.course.try(:id) %>"><%= enrollment.course.try(:id) %> <%= enrollment.course.try(:name) %></option>
      <% end %>
    </select>
  </div>
  
  <div>
    <label for="student_id">Student</label><br />
    <select name="student_id">
      <% @enrollments.each do |enrollment| %>
      <option value="<%= enrollment.student.try(:id) %>"><%= enrollment.student.try(:id) %> <%= enrollment.student.try(:name) %></option>
      <% end %>
    </select>

  </div>
  <div>
    <input type="submit">
  </div>
</form>

