<h1>Course</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @course.name %></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><strong>Course ID:</strong> <%= @course.id %></li>
      <li><strong>Students Enrolled in this course:</strong>
        <ul>
          <% @course.enrollments.each do |enrollment| %>
          <li><%= enrollment.student.name %>
          <% end %>
        </ul>
    </ul>
  </div>
</div>

<a href="/courses/<%= @course.id %>/edit">Edit</a> |
<a href="/courses/<%= @course.id %>/destroy">Destroy</a>
